<mat-toolbar>
  <i class="icon ion-md-menu menu-icon"></i>
  <span i18n="@@toolbar-title">My Application</span>
</mat-toolbar>
<div>
  <a [routerLink]="['/']">Home</a>
  <a [routerLink]="['/about']">About Us</a>
</div>
<!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  <mat-toolbar>
    <i (click)="drawer.toggle()" class="icon ion-md-menu menu-icon"></i>
    <span i18n="@@toolbar-title">My Application</span>
  </mat-toolbar>
  <div>
    <a [routerLink]="['/']">Home</a>
    <a [routerLink]="['/about']">About Us</a>
  </div>
</mat-drawer-container> -->
